# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages',
    'submenu': [
      'label': 'SLIMA',
      'submenu': [
        {
          'label': 'Lisp Process',
          'submenu': [
            {
              'label': 'Start',
              'command': 'slime:start'
            },
            {
              'label': 'Restart',
              'command': 'slime:restart'
            },
            {
              'label': 'Connect',
              'command': 'slime:connect'
            },
            {
              'label': 'Disconnect',
              'command': 'slime:disconnect'
            },
          ]
        },
        {
          'label': 'REPL',
          'submenu': [
            {
              'label': 'Clear REPL',
              'command': 'slime:clear-repl'
            },
            {
              'label': 'Interrupt REPL',
              'command': 'slime:interrupt-lisp'
            }
          ]
        },
        {
          'label': 'Introspection',
          'submenu': [
            {
              'label': 'Goto Definition',
              'command': 'slime:goto-definition'
            },
            {
              'label': 'Expand',
              'command': 'slime:expand'
            }
            {
              'label': 'Expand 1',
              'command': 'slime:expand-1'
            }
            {
              'label': 'Macroexpand',
              'command': 'slime:macroexpand'
            },
            {
              'label': 'Macroexpand 1',
              'command': 'slime:macroexpand-1'
            },
            {
              'label': 'Macroexpand All',
              'command': 'slime:macroexpand-all'
            }
            {
              'label': 'Compiler Macroexpand',
              'command': 'slime:compiler-macroexpand'
            },
            {
              'label': 'Compiler Macroexpand 1',
              'command': 'slime:compiler-macroexpand-1'
            },
            {
              'label': 'Profile',
              'command': 'slime:profile'
            },
          ]
        }
      ]
    ]
  }
]

'context-menu':
  '.slime-repl .repl-presentation': [
    {
      'label': 'Inspect Presentation',
      'command': 'slime:inspect-presentation-context'
    }
  ]
  '.slima-debugger,.slima-debugger *': [
    {
      'label': 'Copy Error Information',
      'command': 'slima:copy-debugger-info'
    }
  ]
