# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'atom-text-editor[data-grammar~="lisp"]':
  'alt-.': 'slime:goto-definition'
  'alt-e': 'slime:eval-expression'
  'alt-c': 'slime:compile-function'
  'alt-k': 'slime:compile-buffer'
  'alt-m': 'slime:expand-1'
  'alt-shift-m': 'slime:expand'

'atom-text-editor':
  'ctrl-cmd-.': 'slime:goto-definition'
  'ctrl-cmd-e': 'slime:eval-expression'
  'ctrl-cmd-c': 'slime:compile-function'
  'ctrl-cmd-k': 'slime:compile-buffer'
  'ctrl-cmd-m': 'slime:expand-1'
  'ctrl-cmd-shift-m': 'slime:expand'

  # When in a text editor, don't enable debugger shortcuts
  '0': 'abort!'
  '1': 'abort!'
  '2': 'abort!'
  '3': 'abort!'
  '4': 'abort!'
  '5': 'abort!'
  '6': 'abort!'
  '7': 'abort!'
  '8': 'abort!'
  '9': 'abort!'
  'numpad0': 'abort!'
  'numpad1': 'abort!'
  'numpad2': 'abort!'
  'numpad3': 'abort!'
  'numpad4': 'abort!'
  'numpad5': 'abort!'
  'numpad6': 'abort!'
  'numpad7': 'abort!'
  'numpad8': 'abort!'
  'numpad9': 'abort!'
  'a': 'abort!'
  'q': 'abort!'
  'c': 'abort!'
  # frame info
  'v': 'abort!'
  'shift-d': 'abort!'
  'n': 'abort!'
  'p': 'abort!'
  '>': 'abort!'
  '<': 'abort!'
  'r': 'abort!'

'atom-workspace atom-text-editor.slime-repl':
  'ctrl-c': 'slime:interrupt-lisp'
  'ctrl-=': 'slime:clear-repl'
  'ctrl-i': 'slime:inspect-presentation'
  'ctrl-shift-c': 'core:copy'
  'ctrl-shift-v': 'core:paste'
  #disable keystrokes that rearrange lines
  'ctrl-shift-down':'unset!'
  'ctrl-shift-up':'unset!'
  'ctrl-down':'core:move-down'
  'ctrl-up':'core:move-up'

'atom-workspace':
  #general menus
  'q': 'slime:menu-quit'
  'n': 'slime:menu-next'
  'p': 'slime:menu-previous'
  #debugger
  '0': 'slime:debug-restart-0'
  '1': 'slime:debug-restart-1'
  '2': 'slime:debug-restart-2'
  '3': 'slime:debug-restart-3'
  '4': 'slime:debug-restart-4'
  '5': 'slime:debug-restart-5'
  '6': 'slime:debug-restart-6'
  '7': 'slime:debug-restart-7'
  '8': 'slime:debug-restart-8'
  '9': 'slime:debug-restart-9'
  'numpad0': 'slime:debug-restart-0'
  'numpad1': 'slime:debug-restart-1'
  'numpad2': 'slime:debug-restart-2'
  'numpad3': 'slime:debug-restart-3'
  'numpad4': 'slime:debug-restart-4'
  'numpad5': 'slime:debug-restart-5'
  'numpad6': 'slime:debug-restart-6'
  'numpad7': 'slime:debug-restart-7'
  'numpad8': 'slime:debug-restart-8'
  'numpad9': 'slime:debug-restart-9'
  'a': 'slime:debug-abort'
  'c': 'slime:debug-continue'
  # frame info
  'v': 'slime:debug-show-frame-source'
  'shift-d': 'slime:debug-disassemble-frame'
  '>': 'slime:debug-last-frame'
  '<': 'slime:debug-first-frame'
  'r': 'slime:debug-restart-frame'
